section {
	height: 100%;
}


#home{
  height: 100vh;
  background: #212121;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-size: 3em;
  color: #E74265;
}